/*** GENERAL ***/
/* Set the size (height x width), margins, padding, background colour, as well as the font family, size, color and weight. */
.App,
#root {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background: #283135;
  font-family: "Raleway", sans-serif !important;
  font-weight: 300;
  color: #ffffff;
  font-size: 0.9rem;
}

/* Set the heigth of all pages. */
#root {
  height: 100%;
}

/* Set the backgorund colour of all pages. */
html {
  background: #283135;
}

/* Set the top padding and the bottom margins of the page container elements. */
.container {
  padding-top: 27px !important;
  margin-bottom: 10px;
}

/* Set for all headers to display as flex row and set the top and bottom margins. */
header {
  display: flex !important;
  flex-direction: row !important;
  margin-top: 80px !important;
  margin-bottom: 5px !important;
}

/* Set the font colour of all h1 and h5 headers, as well as icons and the contact page's "Connect With Us" header */
h1,
h5,
.svg-inline--fa,
#connectheader {
  color: #e6e6e6 !important;
}

/* Set the top and left margins, as well as the font weight and colour. */
.subheading {
  margin-top: 23px;
  margin-left: 10px;
  color: #8b8b8b;
  font-weight: 400;
}

.form-control {
  margin-top: 5px;
}

/* Set the top margin, as well as the background and border colours of the app's buttons. */
.appbutton {
  margin-top: 10px;
  background: #23292c !important;
  border-color: #000000 !important;
}

/* Set for the app buttons' colour to change once hovered over. */
.appbutton:hover {
  background: teal !important;
}

/*** NAVIGATION ****************************************************************************************************************** ***/
/* Set the */
nav .navbar-collapse {
  position: fixed;
  top: 90px !important;
  background: #384449;
  left: -0.1%;
  top: -100%;
  padding-left: 10px;
  width: 15vw;
  height: 90vh;
  display: block;
  transition-duration: right 1s;
  transition-timing-function: ease-in-out;
}

nav .navbar-collapse.show {
  top: 0;
}

/* Set the position of the navbar to absolute and aligned it to the top left. Set the z-index and the width. */
#navbar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
}

.navbar {
  background: #384449;
  height: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100% !important;
  position: fixed;
  padding: 0 !important;
  padding: 0 15px !important;
}

/* .nav-container-1 {
  padding-left: 20px;
  width: 45.5%;
}

.nav-container-2 {
  width: 54.5%;
} */

/* Set the padding and font colour of the navigation links. */
.nav-link {
  padding: 20px 0px !important;
  color: #ffffff !important;
}

/* Set for the nav links' font colour to change once hovered over. */
.nav-link:hover,
.dropdown-item:hover {
  color: teal !important;
}

.dropdown-menu {
  background: #343a40 !important;
  border: none !important;
  color: #ffffff !important;
  padding: 0 !important;
}

.dropdown-toggle::after {
  margin-left: 8px !important;
}

.dropdown-item {
  padding: 20px 20px !important;
  background: #384449 !important;
  color: #ffffff !important;
  font-size: 0.9rem !important;
}

/* Set the position of the nav to relative and set the left margin. */
.navbar-nav {
  padding-top: 30px;
  padding-left: 15px !important;
}

/* Set the background colour of the dropdown menu, added a border (coloured, styled and sized) and set for it to float to the right. */
.generalnav {
  background: transparent !important;
  border: 1px solid #ffffff !important;
  float: right !important;
}

/* Set the maximum width of the logo. */
#logo {
  max-width: 140px;
}

.admin-login-button {
  margin-top: -2px;
  padding: 7px 12px !important;
  border: #ffffff1a solid 1px !important;
  border-radius: 0.25rem !important;
  background: transparent !important;
  color: #e6e6e6 !important;
  font-size: 0.9rem !important;
}

.admin-login-button:hover {
  background: transparent !important;
  border: #008080 solid 1px !important;
}

/* --- Landing Page --- */
/* Set the height of the landing page, the margins, padding and the overflow to hidden, as well as the text and content alignment. */
#landing {
  height: 625px !important;
  overflow-y: hidden;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
  align-content: center;
}

/* Set the size (height x width), margins and padding of the landing column and image. */
#landingimage,
.landingcol {
  width: 100%;
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
}

/* Set the landing content container's position to absolute and aligned it to the center of the page using the top, left margins and transform
feature. */
#landingcontent {
  position: absolute;
  left: 50%;
  top: 36%;
  transform: translate(-50%, 0);
}

/* Set the width, bottom margin and font colour, size and alignment of the brand name's header. Also implemented a text shadow to make it stand 
out more. */
#brandname {
  width: 840px;
  margin-bottom: 20px;
  font-size: 4.5vw !important;
  color: #ffffff;
  text-align: center;
  text-shadow: #000000 3px -1px 5px;
}

/* Set the bottom margin and font colour and size of the slogan header. Also implemented a text shadow to make it stand out more. */
#slogan {
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 2.25vw;
  text-shadow: #000000 3px 3px 2px;
}

/* Set the background colour and gradient, padding, the border (styled, sized and coloured) and border radius of the "Get Started" button. */
#landingbutton {
  background: #00000054;
  padding: 8px;
  border: 1px solid #555555ad;
  border-radius: 10px;
}

/* Set for the button's font colour to change once hovered over. */
#landingbutton:hover {
  color: #008080 !important;
}

/*** ABOUT PAGE ***/
/* Set the width and bottom margin of the about page's image. */
#ross {
  width: 340px;
  margin-bottom: 13px;
}

/* Set the left padding of the about page's text area. */
#about-text {
  padding-left: 45px !important;
}

/* Set the font style and the colour of the quotation reference. */
#about-founder {
  font-style: oblique;
  color: teal;
}

/*** SERVICES AND PROJECTS PAGES ***/
/* Set the padding, bottom margin and the background colour of the service and projects' pages' cards. */
.service-card {
  padding: 20px !important;
  margin-bottom: 20px !important;
  background: #384449 !important;
}

/* Set the width of the service page's card images. */
.service-img {
  width: 500px !important;
}

/* Set the padding, bottom margin and the font colour of the card headings. */
.service-header {
  padding: 10px 10px !important;
  margin-bottom: 30px !important;
  font-size: 2vw;
}

/* Set the padding of the cards' text areas. */
.service-text {
  padding: 0px 10px !important;
}

/* Set the background colour, the font family and colour, as well as the border's colour of the modal headers, bodies and content. */
.modal-content,
.modal-header,
.modal-body {
  background: #384449 !important;
  color: #ffffff;
  font-family: "Raleway", sans-serif !important;
  border: transparent !important;
}

/* Set the bottom padding of the modal headers. */
.modal-header {
  padding-bottom: 0px !important;
}

/* Set the top and bottom padding of the modal bodies. */
.modal-body {
  padding-top: 10px !important;
  padding-bottom: 45px !important;
}

/* Set the bottom margin of the carousel indicators. */
.carousel-indicators {
  margin-bottom: -35px;
}

/*** CONTACT PAGE ***/
/* Set the left margin of the with the contact information. */
.contact-col {
  margin-left: 25px;
}

/* Set the left margin of the contact page's image. */
#contact-image {
  margin-left: 5px;
}

/* Set the top and right margins, as well as the font size of the contact icons. */
.contact-icons {
  margin-top: 2px;
  margin-right: 15px;
  font-size: 0.9rem;
}

/* Set the top margin of the "Connect With Us" element. */
#social-col {
  margin-top: 20px;
}

/* Set the font size of the social media icons. */
.social-icons {
  font-size: 1.5rem;
}

/* Set for the social media icons to change colour once hovered over. */
.social-icons:hover {
  color: teal !important;
}

/* Set the bottom margin of the input areas. */
.form-group {
  margin-bottom: 10px !important;
}

/* Set the required label's content and the font colour, weight and size. */
.form-group.required .control-label:after {
  content: "(Required)";
  font-weight: bold;
  font-size: 0.7rem;
  color: teal;
}

/* Set the size (height x width) and border radius of the message input area. */
#contactmessage {
  height: 100px;
  width: 350px;
  border-radius: 5px;
}

/*** ADMIN PAGE ***/
/* Set the font colour of the admin page's tabs. */
.ant-tabs,
.ant-tabs-content {
  color: #ffffff !important;
}

/* Set for the font colour and pointer to change once the tabs are hovered over. */
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab:hover,
.fa-trash-alt:hover {
  color: teal !important;
  cursor: pointer;
}

/* Set for the tabs' font weight to change once it is accessed. */
.ant-tabs-tab.ant-tabs-tab-active {
  font-weight: bold !important;
}

/* Set the background colour of the tabs' bar. */
.ant-tabs-ink-bar {
  background: teal !important;
}

/* Set the top margin of the admin container. */
.admin-container {
  margin-top: 20px !important;
}

/* Set the top padding, the bottom margins and the font colour of the subheadings. */
.admin-subheading {
  padding-top: 4px;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Set the size (height x width), the top and left margins, as well as the padding of the buttons. */
.admin-button {
  height: 26px;
  width: 26px;
  margin-top: 0px !important;
  margin-left: 10px;
  padding: 0px !important;
}

/* Set the padding of the "Add New User" container. */
#new-user-container {
  padding-top: 10px !important;
}

/* Set the padding and bottom margin of the "Add New User" content. */
#registercontent {
  padding: 0px;
  margin-bottom: 10px !important;
}

/* Set the width, left padding, border radius and the font colour of the user edit input areas. */
.usereditinput {
  width: 250px !important;
  padding-left: 10px;
  border-radius: 5px;
  color: #000000;
}

/* Set the minimum height of the project description input area. */
.project-description-area {
  min-height: 382px !important;
}

/* Set the font colour and weight of the the note word. */
#note-font {
  color: teal;
  font-weight: bold;
}
